html,
body {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

.Calendar {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header p {
  margin-top: 45px;
  font-size: 30px;
}

.move {
  margin: 50px;
  background: #ffffff;
  border: none;
  font-size: 30px;
}

.choice {
  align-items: center;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: #768192;
  outline: none;
  cursor: pointer;
  background: #d8dbe0;
  margin: 30px;
}
.choice:hover {
  backgorund: black;
}

input {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  height: 25px;
}
